<div id="price-tables" class="page-layout simple fullwidth">

    <!-- HEADER -->
    <div class="header" fxLayout="row" fxLayoutAlign="start start">

        <div class="hero-text" fxLayout="column" fxLayoutAlign="center center" fxFlex>

            <div class="h1">Upgrade Membership!</div>
            <div class="h3">
                Become a premium member and enjoy more feature for our app. And you can always try
                for 30 days, free!
            </div>

        </div>

    </div>
    <!-- / HEADER -->

    <!-- CONTENT -->
    <div class="content" fxLayout="column">

        <!-- PRICE TABLES -->
        <div class="price-tables" fxLayout="row wrap" fxLayoutAlign="center center">

            <div class="price-table style-3 mat-elevation-z4" fxLayout="column">

                <div class="package-type">
                    <div class="title">One Time</div>
                    <div class="subtitle">Pay for what you need</div>
                </div>

                <div class="price primary-300" fxLayout="row" fxLayoutAlign="center start">
                    <div class="currency">$</div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <div class="value">6</div>
                        <div class="period">for each iFriend</div>
                    </div>
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">Share contacts with one iFriend</div>
                    <div class="term">up to 3 pitures with one iFriend</div>
                    <div class="term">Unlimited chat with one iFriend</div>
                </div>

                <button mat-raised-button class="cta-button" color="accent">ORDER NOW</button>

                <div class="note">Select an iFriend and place your order</div>

            </div>

            <div class="price-table style-3 mat-elevation-z12" fxLayout="column">

                <div class="package-type">
                    <div class="title">Monthly</div>
                    <div class="subtitle">Save  $10 with yearly paiement</div>
                </div>

                <div class="price primary" fxLayout="row" fxLayoutAlign="center start">
                    <div class="currency">$</div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <div class="value">2</div>
                        <div class="period">or $14 Yearly (40% OFF)</div>
                    </div>
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">unlimited pitures sharing</div>
                    <div class="term">Unlimited chats</div>
                    <div class="term">unlimited contacts sharing</div>  
                    <div class="term">Advanced search functionality</div>                  
                </div>

                <button mat-raised-button class="cta-button" color="accent">ORDER NOW</button>

                <div class="note">Place your order and enjoy VIP membership</div>

            </div>

            <!-- <div class="price-table style-3 mat-elevation-z4" fxLayout="column">

                <div class="package-type">
                    <div class="title">Monthly</div>
                    <div class="subtitle">Enjoy all features...</div>
                </div>

                <div class="price primary-300" fxLayout="row" fxLayoutAlign="center start">
                    <div class="currency">$</div>
                    <div fxLayout="row" fxLayoutAlign="center end">
                        <div class="value">2</div>
                        <div class="period">VIP member</div>
                    </div>
                </div>

                <div class="terms" fxLayout="column" fxLayoutAlign="start center">
                    <div class="term">Pay Monthly</div>
                    <div class="term">Enjoy Yearly functinality</div>                   
                    <div class="term">Cancel anytime and get refund</div>
                </div>

                <button mat-raised-button class="cta-button" color="accent">ORDER NOW</button>

                <div class="note">Select an iFriend and place your order</div>

            </div> -->

        </div>
        <!-- / PRICE TABLES -->

        <div class="faq" fxLayout="row wrap">

            <div class="title" fxFlex="100">Frequently Asked Questions</div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">What is the difference between yearly and monthly?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I cancel any time?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">What happens if I cancel in the middle of my benefits?</div>
                <div class="answer">
                    Aliquam erat volutpat. Etiam luctus massa ex, at tempus tellus blandit quis. Sed quis neque tellus.
                    Donec maximus ipsum in malesuada hendrerit.
                </div>
            </div>

            <div class="item" fxFlex="100" fxFlex.gt-xs="50">
                <div class="question">Can I have a discount?</div>
                <div class="answer">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a diam nec augue tincidunt
                    accumsan. In dignissim laoreet ipsum eu interdum.
                </div>
            </div>

        </div>

    </div>

</div>

