<div id="timeline" class="p-24" fxLayout="row wrap">
    <div class="col-sm-8">
        <div *ngIf="editForm.dirty" class="alert alert-info" style="color: red">
          <strong>Information:</strong> You have made changes. Any unsaved changes
          will be lost!
        </div>
      </div>
    <form #editForm="ngForm" id="editForm" 
        class="timeline-content" fxLayout="column" fxFlex="100" fxFlex.gt-sm="55" fxFlex.gt-md="65"
        (ngSubmit)="UpdateUser()">
        <div >

            <div class="profile-box add-post">
    
                <div class="form" fxFlex>   

                    <mat-accordion class="example-headers-align">

                        <mat-expansion-panel >
                            <mat-expansion-panel-header>
                              <mat-panel-title> About me </mat-panel-title>
                            </mat-expansion-panel-header>

                            <mat-form-field class="example-full-width">
                                <mat-label>Gender </mat-label>
                                <input matInput>
                                <mat-radio-group matInput name="gender" aria-label="Select an option" [(ngModel)]="currUser.gender">
                                    <mat-radio-button value="male">Male</mat-radio-button>
                                    <mat-radio-button value="female">Female</mat-radio-button>
                                </mat-radio-group>
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Username</mat-label>
                                <input name="username" matInput placeholder="Username.." [(ngModel)]="currUser.username">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Lastname</mat-label>
                                <input name="lastname" matInput placeholder="Lastname.." [(ngModel)]="currUser.lastname">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Known As</mat-label>
                                <input name="knowAs" matInput placeholder="Know As.." [(ngModel)]="currUser.knownAs">
                            </mat-form-field>

                            <mat-form-field appearance="fill">
                                <mat-label>Date Of Birth</mat-label>
                                <input matInput name="dateOfBirth" [matDatepicker]="picker" [(ngModel)]="currUser.dateOfBirth">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </mat-expansion-panel>

                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title> Description </mat-panel-title>
                            <!-- <mat-panel-description>  Tell others more about you </mat-panel-description> -->
                          </mat-expansion-panel-header>
                          <textarea name="introduction" placeholder="About me.." [(ngModel)]="currUser.introduction"></textarea>
                        </mat-expansion-panel>

                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title> Looking for.. </mat-panel-title>
                          </mat-expansion-panel-header>
                          <input name="lookkingFor" matInput placeholder="Looking For.." [(ngModel)]="currUser.lookingFor">
                        </mat-expansion-panel>

                        <mat-expansion-panel >
                          <mat-expansion-panel-header>
                            <mat-panel-title> Interests </mat-panel-title>
                          </mat-expansion-panel-header>
                          <input name="interests" matInput placeholder="Interests.." [(ngModel)]="currUser.interests">
                        </mat-expansion-panel>

                        <mat-expansion-panel >
                            <mat-expansion-panel-header>
                              <mat-panel-title> Address </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-form-field class="example-full-width">
                                <mat-label>City of Residence</mat-label>
                                <input matInput name="city" placeholder="City.." [(ngModel)]="currUser.city">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Country of Residence</mat-label>
                                <input name="country" matInput placeholder="Country.." [(ngModel)]="currUser.country">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Country of Origin</mat-label>
                                <input name="address" matInput placeholder="Origin.." [(ngModel)]="currUser.address">
                            </mat-form-field>
                        </mat-expansion-panel>


                        <mat-expansion-panel >
                            <mat-expansion-panel-header>
                              <mat-panel-title> Contact </mat-panel-title>
                            </mat-expansion-panel-header>
                            <mat-form-field class="example-full-width">
                                <mat-label>Phone </mat-label>
                                <input matInput name="phone" placeholder="Phone.." [(ngModel)]="currUser.phone">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input name="email" matInput placeholder="Email.." [(ngModel)]="currUser.email">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Company</mat-label>
                                <input name="company" matInput placeholder="Company.." [(ngModel)]="currUser.company">
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <mat-label>Job Title</mat-label>
                                <input name="jobTitle" matInput placeholder="Job Title.." [(ngModel)]="currUser.jobtitle">
                            </mat-form-field>
                        </mat-expansion-panel>

                    </mat-accordion>

                    <footer fxLayout="row" fxLayoutAlign="space-between center">
    
                        <button  
                            [disabled]="!editForm.dirty"
                            form="editForm" 
                            mat-raised-button color="accent" class="post-button" aria-label="POST">SAVE CHANGES</button>
    
                    </footer>
    
                </div>
    
            </div>
    
            <mat-divider></mat-divider>
    
        </div>
    </form>

    <div class="timeline-sidebar" fxLayout="column" fxFlex="100" fxFlex.gt-sm="45" fxFlex.gt-md="35">

        <div class="profile-box latest-activity" fxLayout="column">

            <header class="accent" fxLayout="row" fxLayoutAlign="space-between center">
                <div class="title">{{currUser.lastname}} {{currUser.knownAs}}</div>
                <div class="secondary-text">{{currUser.email}}</div>
                <!-- <div class="more secondary-text">See All</div> -->
            </header>

            <div class="content" fxLayout="row wrap">
                <div class="activities">

                    
                    <div class="activity" fxLayout="row" fxLayoutAlign="start start">

                        <div fxLayout="column">
                            <mat-card class="example-card">
                                <mat-card-header>
                                  <div mat-card-avatar class="example-header-image"></div>
                                  <!-- <mat-card-title>{{currUser.lastname}} {{currUser.knownAs}} </mat-card-title>
                                  <mat-card-subtitle>{{currUser.email}}</mat-card-subtitle> -->
                                </mat-card-header>
                                <img mat-card-image src="{{currUser.avatar}}" alt="Photo of a current User">

                                <mat-card-content>
                                    <div layout-margin>
                                        <mat-label flex>Age: </mat-label>
                                        <span class="secondary-text">{{ currUser.age }}</span>
                                    </div>
                                    <div layout-margin>
                                        <strong flex>Last Active : </strong>
                                        <span class="secondary-text">{{ currUser.lastActive | TimesAgoPipe }}</span>
                                    </div>
                                    <div class="pt-2">
                                        <strong>Member registered on : </strong>
                                        <span class="secondary-text">{{ currUser.created | date: 'longDate' }}</span>
                                    </div>
                                </mat-card-content>
                              </mat-card>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

